<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NumberWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>W.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB1E117F1DD326D1002CE887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB1E11981DD326D1002CE887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB1E11A31DD326D1002CE887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB1E11B91DD327D5002CE887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
