<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NotificationVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NotificationViewC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Push.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E603A2FC1EC45BB9006CDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E61AE11A1EC341CA00F0D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E61AE1331EC341CA00F0D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E61AE13E1EC341CA00F0D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E61AE1551EC3499A00F0D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6CDD7791EC465E80087544B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6CDD7891EC471070087544B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
